# Node.js dependencies (Frontend)
gui/node_modules/
gui/build/

# Python Virtual Environment (Backend)
backend/venv/
.python-version

# Django Cache, Migrations, Logs
__pycache__/
*.pyc
*.pyo
*.log
*.tmp
*/migrations/__pycache__/
*/migrations/*.pyc

# Django Environment Variables
backend/.env

# Database Files (Ignore if using PostgreSQL)
backend/db.sqlite3

# Static & Media Files (Generated Automatically)
backend/static/
backend/media/

# Build Files (React)
gui/build/

# Editor/OS Files (Mac, Windows, Linux)
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
