.container {
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ffe0b2, #ffccbc);
    height: 100vh;
    width: 100vw;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo-text {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #330757;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #000000;
    border-radius: 0;
    outline: none;
    background: transparent;
}

.input-field:focus {
    border-bottom-color: #000000;
    box-shadow: none;
}

.login-button {
    width: 100%;
    background: #6a1b9a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-button:hover {
    background: #3f2a75;
}

.signup-text {
    margin-top: 10px;
    color: #666;
}

.signup-link {
    color: #6a1b9a;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

.signup-text {
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
}